@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: #f0f8ff;
    /*
    #004e92
    #f97316
    #ff7e5f
    */
}
body{
   /* CSS background gradient */
background: linear-gradient(135deg, #f15925 , #061944 80%);
overflow-x: hidden;

   
}


/* حاوية الإعلان */
.marquee-container {
  width: 300vw; /* لتغطية عرض الشاشة بالكامل */
  overflow: hidden; /* لإخفاء أي نص زائد خارج الحاوية */ /* لون خلفية أسود */
  

  white-space: nowrap; /* منع النص من الالتفاف */
  position: relative;
  display: flex;
  justify-content: space-around;
}

/* النص المتحرك */
.marquee-text {
  display: inline-block;
  font-size: 1.2rem;
  color: #061944; 
  font-weight: bold;
  animation: marqueeAnimation 15s linear infinite;
}

/* حركة التمرير */
@keyframes marqueeAnimation {
  from {
    transform: translateX(0%); /* يبدأ النص من خارج الشاشة من جهة اليمين */
  }
  to {
    transform: translateX(-100%); /* ينتهي النص خارج الشاشة من جهة اليسار */
  }
}



